<body>
   
<section>
    {{#each products}}
    <article>
        <h3>{{this.name}}</h3>
        <h4>{{this.description}}</h4>
        <h3>{{this.price}}</h3>
        <img src="{{this.image}}" alt="{{this.description}}" class="pic">
    </article>
    {{/each}}
</section>
</body> 

</body>